Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-unused-return-value,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  -performance-noexcept-move-constructor,
  -performance-no-int-to-ptr,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-named-parameter,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
  -readability-implicit-bool-conversion,
  -modernize-use-if-init,
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
