build
CMakeLists.txt
qemu.log
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.exe
*.out
*.app
*.db
*.key
*.pem
*.crt
*.vs
*.iso
*.bin
**/.DS_STORE
cmake-build-*/
**/.idea/
**/.vscode/
